// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.m_slider {
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}


.part {
  font-family: 'Pacifico', cursive;
}

.open_room_link a:hover {
  text-decoration: none;
}

@media (max-width: 720px) {

.m_slider {
  height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}

.chat {
  font-size: 50%;
}

}