<div class="container">  
  <% ext = @medium.media[@cnt].file.extension.downcase %><br>
    <% if ext == "jpg" || ext == "jpeg" || ext == "png" %>
      <%=  image_tag(@medium.media[@cnt].url, :class => "image_show_pic img-responsive") %>
    <% elsif ext == "mov" || ext == "mp4" || ext == "webm" %>
      <%= video_tag(@medium.media[@cnt].url, :autoplay => true, :muted => true, loop: true, :class => "image_show_pic img-responsive") %>
    <% end %> 
    <h4><small>Posted By: <%= @medium.user.name %> @ <%= @medium.created_at.strftime('%Y /%m/ %d/ %H:%M')%></small></h4>

</div>