<h1>Posts List</h1>
<br><br>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <% @posts.each do |p| %>
         <% if PostDetail.find_by(post_id: p.id).present? %>
          <% @count = 0 %>
            <% @count = PostDetail.where(post_id: p.id).count  %>
              <%= link_to "posts/#{p.id}" do %>
                <% logger.debug("~~~~~~~~~~~~~~~~~~~~~file_name =  #{p.id}") %>
                  <%= image_tag "/pics/#{p.id}/#{PostDetail.find_by(post_id: p.id).file_name}", :class => "post_pic" %>
                <% end %>
              <%= @count %>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>

