<h1>Post Information</h1>
<hr>
　<% @post_details.each do |post_detail| %>
    <%= image_tag "/pics/#{post_detail.post_id}/#{post_detail.file_name}", :class => "show_pic" %>
  <% end %>
<hr>
  <p><%= @post.content %></p>
  <p><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>