// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.like-btn {
  font-size: 20px;
  color: #8899a6;
}

.like-btn-unlike {
   font-size: 20px;
 color: #ff2581;
}

// .show_pic {
//   position: relative;
//   z-index: 1;
// }

.count_like {
  position: relative;
}

.like {
  cursor: pointer;
  position: absolute;
  bottom: -320px;
  left: 20px;
  z-index: 2;
}

.like_detail_count {
  border-radius: 50%;
  padding: 0 7px;
  opacity: 0.9;
  background: grey;
  color: white;
  position: absolute;
  bottom: -320px;
  left: 40px;
  z-index: 2;
}


