// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_pic {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  margin: 5px;
  object-fit: cover;

}

.show_pic {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  object-fit: cover;
}