h1,h2,h3,h4, .navbar-brand {
  font-family: 'Pacifico', cursive;
}

.fa-comment-alt {
    height: 20px;
    // position: relative;
}

.fa-comments {
    height: 20px;
}

// .nav-badge {
//     // height: 10px;
//     position: absolute;
//     top: 5px;
//     left: 100px;
    
// }

.main-page {
    margin-top: 50px;
}

.my-form {
    width: 500px;
}

.search-form {
    display: inline-block;
    // width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    // -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    // -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 5px;
}

.search-btn {
    margin-left: 20px;
}

// btn for Choose File

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// btn for Choose File end

    
.header-image {
    background-image: url(/top_image2.jpeg);
    width: 100%;
    height: 500px;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-content {
    font-size: 80px;
    padding-top: 150px;
    color: #fff;
    opacity: .7;
    font-family: 'Bookman Old Style', serif;
    // font-style: italic;
    text-shadow: #ccc 1px 1px 0px, #ccc -1px 1px 0px,
    #ccc 1px -1px 0px, #ccc -1px -1px 0px;
    
}

.comment {
    color: #aaa;
}

.btn-approve {
    margin-left: 20px;
    
}

.file_post {
    padding-left: 0;
}

.file_post li {
    list-style: none;
}

.chat {
    font-family: 'Raleway', sans-serif;

}


// footer
// .footer {
//     // position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 60px;
//     line-height: 60px;
//     background-color: #f5f5f5;
// }

// .text-muted {
//     color: #6c757d;
//     text-align: center;
// }