// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.users-show-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  // display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

// width="50px" height="50px" style="border-radius: 25px";

.user_icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  
}
// width="100px" height="100px" style="border-radius: 20px;"
.user_icon_nav {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
    
}